.container {
  text-align: left;
  width: 385px;
  height: 350px;
}

#imageSize {
  max-width: 400px;
  max-height: 280px;
}

.card-block {
  background-color: white;
  color: black;
  z-index: 1000;
  padding: 1%;
  margin: 2%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 7%;
}

.card-deck {
  padding-left: 10px;
  padding-right: 10px;
}
