.container{
    text-align: left;
    width: 100%;
    height: auto;
}

#imageSize{
    width: 100%;
}

.card-block{
    border: 1px solid red;
    background-color: white;
    color: black;
    z-index: 1000;
    padding: 1%;
    margin: 2%;
}

.card{   
    border: 1px solid white;
}
