<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="card-deck">
  <div class="naechstertermin" *ngIf="showInvite">
    <div class="card-deck">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Nächster Termin:</h4>
          <div class="container">
            <b>Titel: </b>{{t?.title}}<br>
            <b>Beschreibung: </b>{{t?.beschreibung}}<br>
            <b>Ort: </b>{{t?.ort}}<br>
            <b>Von: </b>{{t?.s_date}}<br>
            <b>Bis: </b>{{t?.e_date}}<br><br>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-success" (click)="setComing()">Ja, ich komme</button>
              <button class="btn btn-danger" (click)="showInvite=false">Nein, ich komme nicht</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let i of infos, let zahl=index">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{i.ueberschrift}}</h4>
        <div class="container">
          <p class="card-text">{{i.beschreibung}}</p>

          <div *ngIf="i.mediapath?.length">

            <div id="myCarousel{{zahl}}" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img id="imageSize" [src]="i.mediapath[0]" alt="Bild">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item" *ngFor="let path of i.mediapath.slice(1), let izahl = index">
                  <img id="imageSize" [src]="path" alt="Bild">
                </div>
              </div>

              <div *ngIf="i.mediapath?.length > 1">
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel{{zahl}}" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel{{zahl}}" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button (click)="changeInfo(i)" class="btn btn-secondary" *ngIf="isEditor">Information bearbeiten</button>
            <button (click)="deleteInfo(i)" class="btn btn-secondary" *ngIf="isEditor">Information löschen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
