<div class="row">
  <div *ngFor="let item of calendarEntry.events; let i = index" class="col-lg-6 col-sm">
    <div class="card-box">
      <div class="card-title">
        <h2>
          <div [innerHTML]='item.title'></div>
        </h2>
      </div>
      <div class="card-body">
        <b>Beschreibung:</b>
        <div [innerHTML]='item.beschreibung'></div>
        <br>
        <b>Ort:</b>
        <div [innerHTML]='item.ort'></div>
        <br>
        <b>Startdatum:</b>
        <div [innerHTML]='item.start.toLocaleString()'></div>
        <b>Enddatum:</b>
        <div [innerHTML]='item.end.toLocaleString()'></div>
        <img src='{{item.imagePath}}'>
        <b *ngIf="item.termin.plan">Planung:</b>
        Hier sollte die Planung angezeigt werden
        <div *ngIf="item.termin.plan" [innerHTML]="item.termin.plan.descr"></div>
        <div *ngIf="isGruppenleiter&&item.termin.teilnehmer!=''">Es kommen: {{item.termin.teilnehmer}}</div>
      </div>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button (click)="changeViewCalendarDetail('protocol',item)" class="btn btn-secondary" *ngIf="isEditor">Protokoll schreiben
        </button>
        <button (click)="changeViewCalendarDetail('planning',item)" class="btn btn-secondary" *ngIf="isEditor">Planung schreiben
        </button>
        <button (click)="changeTermin(item)" class="btn btn-secondary" *ngIf="isEditor">Termin bearbeiten</button>
        <button (click)="deleteTermin(item)" class="btn btn-secondary" *ngIf="isEditor">Termin löschen</button>
      </div>
    </div>
  </div>
</div>