<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<form>
  <div class="form-group">
    <quill-editor name="text" [(ngModel)]="text"></quill-editor>
  </div>
  teilen:
  <input name="selected" [(ngModel)]="share" type="checkbox"><br>
  <div class="btn-group btn-group" role="group" aria-label="Basic example">
    <button type="submit" class="btn btn-secondary" (click)="save()">Planung speichern</button>
  </div>
</form>
