<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.css'>
<ng-sidebar-container>
    <ng-sidebar
        [(opened)]="_opened"
        [mode]="_MODES[_modeNum]"
        [keyClose]="_keyClose"
        [position]="_POSITIONS[_positionNum]"
        [dock]="_dock"
        [dockedSize]="'50px'"
        [autoCollapseHeight]="_autoCollapseHeight"
        [autoCollapseWidth]="_autoCollapseWidth"
        [closeOnClickOutside]="_closeOnClickOutside"
        [closeOnClickBackdrop]="_closeOnClickBackdrop"
        [showBackdrop]="_showBackdrop"
        [animate]="_animate"
        [trapFocus]="_trapFocus"
        [autoFocus]="_autoFocus"
        [sidebarClass]="'dashboard-sidebar'"
        [ariaLabel]="'My sidebar'"
        (onOpenStart)="_onOpenStart()"
        (onOpened)="_onOpened()"
        (onCloseStart)="_onCloseStart()"s
        (onClosed)="_onClosed()">

        <div class="dashboard-control" (click)="_toggleOpened()"><i class="material-icons">close</i></div>
        <div id="imagePlatzhalter"></div><br>
        <p class="einfuegen"><i class="fa fa-user" aria-hidden="true"></i><b> {{username}} </b></p><hr>
        <div (click)="_toggleOpened()">
            <div href="#" id="hover" (click)="view = 'home'" [class.active]="view === 'home'"><p class="einfuegen"><i class="material-icons">home</i> Startseite</p></div>
            <div href="#" id="hover" (click)="view = 'month'" [class.active]="view === 'month'" ><p class="einfuegen"><i class="material-icons">date_range</i> Kalendar</p></div>
            <div href="#" id="hover" (click)="view = 'protocol'" *ngIf="isEditor"><p class="einfuegen"><i class="material-icons">subject</i> Protokoll</p></div>
            <div href="#" id="hover" (click)="view = 'password'" *ngIf="isEditor"><p class="einfuegen"><i class="material-icons">lock</i> Passwort ändern</p></div>
            <div href="#" id="hover" (click)="view = 'diagram'" *ngIf="isEditor"><p class="einfuegen"><i class="material-icons">pie_chart</i> Statistiken</p></div>
            <div href="#" id="hover" (click)="view = 'showprotocol'" *ngIf="isEditor"><p class="einfuegen"><i class="material-icons">assignment</i> Protokolle ansehen</p></div>     
            <div href="#" id="hover" (click)="view = 'manage-user'" *ngIf="isAdmin" [class.active]="view === 'manage-user'"><p class="einfuegen"><i class="material-icons">people</i> Profile verwalten</p></div>
        </div>
        <div><a routerLink="/"><p class="einfuegen"><i class="fas fa-sign-out-alt"></i> Logout</p></a></div>
    </ng-sidebar>
    <div ng-sidebar-content>
        <header class="dashboard-header">
            <button (click)="_toggleOpened()" class="dashboard-header__toggle">Toggle sidebar</button>
            <span>Infi</span>
            <div class="addTermin" *ngIf="isEditor && (view =='month'||view =='week')" (click)="view = 'termin'">
                 <i class="fa fa-plus" aria-hidden="true"></i> Termin erstellen
            </div>
            <span class="addTermin" *ngIf="isEditor && view=='home'" (click)="view = 'info'">
                <i class="fa fa-plus" aria-hidden="true"></i> News schreiben
            </span>
           <div class="addTermin" *ngIf="isAdmin && view=='manage-user'" (click)="view = 'add-user'">
            <i class="fa fa-plus" aria-hidden="true"></i> <span class="padd">Benutzer erstellen</span>
       </div>
        </header>
        <section class="dashboard-contents">
            <div *ngIf="view=='month'||view=='week'">
                <app-calendar [view]="view"></app-calendar>  
            </div>
            <div *ngIf="view=='termin'">
                <app-termin [jrkEntitaet]="jrkEntitaet" (changeView)="changeView($event)"></app-termin>
            </div>
            <div *ngIf="view =='protocol'">
                <app-protocol (changeView)="changeView($event)"></app-protocol>
            </div>
            <div *ngIf="view =='diagram'">
                <app-diagrams></app-diagrams>
            </div>
            <div *ngIf="view =='home'">
                <app-home></app-home>
            </div>
            <div *ngIf="view =='manage-user'">
                <manage-user (changeView)="changeView($event)"></manage-user>
            </div>
            <div *ngIf="view =='add-user'">
                <add-user [jrkEntitaet]="jrkEntitaet" (changeView)="changeView($event)"></add-user>
            </div>
            <div *ngIf="view =='info'">
                <app-information [jrkEntitaet]="jrkEntitaet" (changeView)="changeView($event)"></app-information>
            </div>
            <div *ngIf="view =='showprotocol'">
                <app-showprotocol [jrkEntitaet]="jrkEntitaet" (showProtocol)="showProtocol($event)"></app-showprotocol>
            </div>
            <div *ngIf="view =='password'">
                <app-password (changeView)="changeView($event)"></app-password>
            </div>
            <div *ngIf="view=='protocolDetail'">
            <app-protocol-detail [protocol]=protocol></app-protocol-detail>
        </div>
        </section>
    </div>
</ng-sidebar-container>


<!-- Modal -->
<div class="modal fade" id="pwdModal" tabindex="-1" role="dialog" aria-labelledby="pwdModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="pwdModalLabel">Geben Sie ein neues Passwort ein!</h5>
    </div>
    <div class="modal-body">
    <table>
        <tr>
        <td>Neues Passwort:</td>
        <td><input type="password" [(ngModel)]="password1"></td>
        </tr>
        <tr>
        <td>Passwort wiederholen:</td>
        <td><input type="password" [(ngModel)]="password2"></td>
        </tr>
    </table>     
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="changePwd()">Ändern</button>
    </div>
    </div>
</div>
</div>
