<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel='stylesheet prefetch' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.css'>
<ng-sidebar-container>
    <ng-sidebar
        [(opened)]="_opened"
        [mode]="_MODES[_modeNum]"
        [keyClose]="_keyClose"
        [position]="_POSITIONS[_positionNum]"
        [dock]="_dock"
        [dockedSize]="'50px'"
        [autoCollapseHeight]="_autoCollapseHeight"
        [autoCollapseWidth]="_autoCollapseWidth"
        [closeOnClickOutside]="_closeOnClickOutside"
        [closeOnClickBackdrop]="_closeOnClickBackdrop"
        [showBackdrop]="_showBackdrop"
        [animate]="_animate"
        [trapFocus]="_trapFocus"
        [autoFocus]="_autoFocus"
        [sidebarClass]="'dashboard-sidebar'"
        [ariaLabel]="'My sidebar'"
        (onOpenStart)="_onOpenStart()"
        (onOpened)="_onOpened()"
        (onCloseStart)="_onCloseStart()"s
        (onClosed)="_onClosed()">

        <div class="dashboard-control" (click)="_toggleOpened()"><i class="material-icons">close</i></div>
        <div id="imagePlatzhalter"></div><br>
        <p class="einfuegen"><i class="fa fa-user" aria-hidden="true"></i><b> {{username}} </b></p><hr>
        <!--<div href="#" id="hover"><p class="einfuegen"><i class="material-icons">home</i> Startseite</p></div>-->
        <div (click)="_toggleOpened()"><div href="#" id="hover" (click)="view = 'month'" [class.active]="view === 'month'" ><p class="einfuegen"><i class="material-icons">date_range</i> Monatsansicht</p></div>
        <div href="#" id="hover" (click)="view = 'week'" [class.active]="view === 'week'"><p class="einfuegen"><i class="material-icons">line_style</i> Wochenansicht</p></div></div>
           
        <a routerLink="/"><div id="platzierung"><div class="button"></div></div></a>
    </ng-sidebar>
  <div ng-sidebar-content>
    <header class="dashboard-header">
      <button (click)="_toggleOpened()" class="dashboard-header__toggle">Toggle sidebar</button>
      <span>Infi</span>
      <i (click)="view = 'termin'" class="fa fa-plus" (changeView)="changeView(i)" aria-hidden="true"></i>
    </header>
    <section class="dashboard-contents">
        <div *ngIf="view=='month'||view=='week'">
      <div class="row text-center">
        <div class="col-md-4">
          <div class="btn-group">
            <div
              class="btn btn-outline-secondary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
              Vorheriger
            </div>
            <div
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate">
              Aktueller
            </div>
            <div
              class="btn btn-outline-secondary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="activeDayIsOpen = false">
              Nächster
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h1>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h1>
        </div>
      </div>
      <div *ngIf="events$ | async; else loading; let events">
        <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [locale]="locale"
          [weekStartsOn]="weekStartsOn"
          [weekendDays]="weekendDays"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          precision="minutes"
          [viewDate]="viewDate"
          [events]="events"
          [locale]="locale"
          [weekStartsOn]="weekStartsOn"
          [weekendDays]="weekendDays"
          (dayClicked)="dayClicked($event.day)">
        </mwl-calendar-week-view>
      </div>
      </div>
    </div>
    <div *ngIf="view=='termin'">
      <app-termin [jrkEntitaet]="jrkEntitaet"></app-termin>
    </div>
          <div *ngIf="view =='protocol'">
              <app-protocol></app-protocol>
          </div>
          <div (click)="view = 'protocol'" [class.active]="view === 'protocol'">
            Protokoll
          </div>
    </section>
  </div>
</ng-sidebar-container>
