<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div id="box" *ngFor="let p of protocol, let i=index">
      <br>
      {{p.title}} {{p.s_date.slice(0,16)}}
      <br>
      <div>
        {{p.beschreibung.slice(0, 200)}}
      </div>
      <br>  
                                                               <!-- [button]="{{p.id}}" -->

      <!-- http://jasonwatmore.com/post/2016/08/23/angular-2-pagination-example-with-logic-like-google
</div>
<div class="col-md-12">
  <table class="table table-responsive table-hover">
    <tr>
      <th><a href (click)="sortTable('p.company')">Titel</a></th>
      <th><a href (click)="sortTable('p.s_date')">Datum</a></th>
      <th><a href (click)="sortTable('p.beschreibung')">Beschreibung</a></th>
    </tr>
    <tr *ngFor="let p of protocol, let i=index">
      <td>{{p.title}}</td>
      <td>{{p.s_date.slice(0,16)}}</td>
      <td>{{p.beschreibung.slice(0, 200)}}</td>
      <td><button style="color:white" type="button" class="btn btn-dark btn-sm">Weiter lesen..</button></td>
    </tr>
  </table>
</div>
https://scotch.io/tutorials/sort-and-filter-a-table-using-angular
-->
<div class="col-md-12">
    <form [ngFormOptions]="{ updateOn: 'change' }">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search for Event" name="searchText" [(ngModel)]="searchText">
          </div>      
        </div>
      </form>
  <table class="table table-responsive table-hover">
    <tr>
        <th class="pointer" (click)="sort('Titel')">Titel</th>
        <th class="pointer" (click)="sort('Datum')">Datum</th>
        <th class="pointer" (click)="sort('Beschreibung')" >Beschreibung</th>
    </tr>
   <tr *ngFor="let item of records | orderBy: {property: column, direction: direction} | filter: 'Titel' :searchText; let i = index">     
      <td>{{item.Titel}}</td>
      <td>{{item.Datum}}</td>
      <td>{{item.Beschreibung}}</td>
    </tr>
  </table>
</div>