<h2>Protokoll</h2>
<form (ngSubmit)="onSubmit()" #terminForm="ngForm">
<div class="form-group">
   <div class="container">
      <div class="row">
         <div class="col-lg">
            <label for="auswahl">Termin vorauswählen</label>
            <select class="form-control" #selectElem (change)="setTermin(selectElem.value)" name="termSelect">
            <option *ngFor="let t of term, let i=index" [selected]="i==0" [value]="t.id">{{t.title}}, am {{t.s_date | date:'dd.MM.yyyy'}}</option>
            </select>
            <br>
            <label for="title">Titel</label>
            <input type="text" class="form-control" id="title"
            required
            [(ngModel)]="actTermin.title" name="title"
            #title="ngModel">
            <div [hidden]="title.valid || title.pristine"
               class="alert alert-danger">
               Titel muss eingegeben werden!
            </div>
         </div>
         <br>
        </div>
        <div class="row">
         <div class="col-lg">
                <label for="beschreibung">Beschreibung</label>
                <textarea type="text" class="form-control" id="beschreibung"
                required
                [(ngModel)]="actTermin.beschreibung" name="beschreibung"
                #beschreibung="ngModel"></textarea>
                <div [hidden]="beschreibung.valid || beschreibung.pristine"
                   class="alert alert-danger">
                   Beschreibung muss eingegeben werden!
                </div>
             </div>
         <br>
         <div class="col-lg">
                <label for="ort">Ort</label>
                <input type="text" class="form-control" id="ort"
                required
                [(ngModel)]="actTermin.ort" name="ort"
                #ort="ngModel">
                <div [hidden]="ort.valid || ort.pristine"
                   class="alert alert-danger">
                   Ort muss eingegeben werden!
                </div>
             </div>
         <br>
        </div>
        <div class="row">
         <div class="col-lg">
            <label for="s_date">Startdatum</label>
            <br>
            <input [owlDateTimeTrigger]="dtS" [owlDateTime]="dtS" dataType="string" [max]="e_date" hideClearButton=true max="max" dateFormat="YYYY-MM-DD HH:mm:ss" autoclose="true" class="form-control" id="s_date"
            required [(ngModel)]="s_date" name="s_date"
            #sdate="ngModel">
            <owl-date-time #dtS></owl-date-time>
            <!--<owl-date-time [locale]="de" dataType="string" hideClearButton=true max={{actTermin.e_date}} dateFormat="YYYY-MM-DD HH:mm:ss" autoclose="true" class="form-control" id="s_date"
               required [(ngModel)]="actTermin.s_date" name="s_date"
               #sdate="ngModel"></owl-date-time>-->
            <div [hidden]="sdate.valid || sdate.pristine"
               class="alert alert-danger">
               Startdatum muss eingegeben werden!
            </div>
         </div>
         <br>
         <div class="col-lg">
            <label for="e_date">Enddatum</label>
            <br>
            <input [owlDateTimeTrigger]="dtE" [owlDateTime]="dtE" dataType="string" [min]="s_date" hideClearButton=true min="{{actTermin.s_date}}"  dateFormat="YYYY-MM-DD HH:mm:ss" autoclose="true" class="form-control" id="e_date"
            required [(ngModel)]="e_date" name="e_date"
            #edate="ngModel">
            <owl-date-time #dtE></owl-date-time>
            <!--<owl-date-time [locale]="de" dataType="string" hideClearButton=true min={{actTermin.s_date}} dateFormat="YYYY-MM-DD HH:mm:ss" autoclose="true" class="form-control" id="e_date"
               required [(ngModel)]="actTermin.e_date" name="e_date"
               #edate="ngModel"></owl-date-time>-->
            <div [hidden]="edate.valid || edate.pristine"
               class="alert alert-danger">
               Enddatum muss eingegeben werden!
            </div>
         </div>
      </div>
      <div class="row">
         <br>
         <div class="col-lg">
            <label for="betreuer">Betreuer</label>
            <div>
               <div>
                  <form (submit)="addBetreuer($event)">
                     <div><input type="text" class="form-control list" [(ngModel)]="newBetreuer" (keyup.enter)="newBetreuer=''" name="newBetreuer">
                        <button class="form-control listadd" type="submit" [disabled]="newBetreuer===''"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                     </div>
                  </form>
               </div>
               <div *ngFor="let c of betreuer; let i=index">
                  {{ c }}
                  <span (click)="deleteBetreuer(i)" class="delete-icon"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
               </div>
            </div>
         </div>
         <br>
         <div class="col-lg">
            <label for="kinderliste">Kinderliste</label>
            <div>
               <div>
                  <form (submit)="addChild($event)">
                     <div><input type="text" class="form-control list" [(ngModel)]="newChild" (keyup.enter)="newChild=''" name="newChild">
                        <button class="form-control listadd" type="submit" [disabled]="newChild===''"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
                     </div>
                  </form>
               </div>
               <div *ngFor="let c of children; let i=index">
                  {{ c }}
                  <span (click)="deleteChild(i)" class="delete-icon"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <br>
         <div class="col-lg">
            <label for="taetigkeiten">Tätigkeiten</label>
            <textarea type="text" class="form-control" id="taetigkeiten"
            required
            [(ngModel)]="actProtokol.taetigkeiten" name="taetigkeiten"
            #taetigkeiten="ngModel"></textarea>
            <div [hidden]="taetigkeiten.valid || taetigkeiten.pristine"
               class="alert alert-danger">
               Tätigkeiten muss eingegeben werden!
            </div>
         </div>
         <br>
         <div class="col-lg">
            <label for="vzeit">Vorbereitungszeit in Stunden</label>
            <input type="number" class="form-control" id="vzeit"
            required
            [(ngModel)]="actProtokol.vzeit" name="vzeit"
            #vzeit="ngModel">
            <div [hidden]="vzeit.valid || vzeit.pristine"
               class="alert alert-danger">
               Vorbereitungszeit muss als (Dezimal)zahl eingegeben werden!
            </div>
         </div>
      </div>
      <div class="row">
         <br>
         <div class="col-lg">
            <label for="kategorie">Kategorie</label><br>
            <label class="radio-inline"><input type="radio" [(ngModel)]="actProtokol.kategorie" FormControlName= "kat" name="kategorie"  [value]="'Soziales'"
            [checked]="actProtokol.kategorie === 'Soziales'">Soziales</label>
            <label class="radio-inline"><input type="radio" [(ngModel)]="actProtokol.kategorie" FormControlName= "kat" name="kategorie"  [value]="'EH'"
            [checked]="actProtokol.kategorie === 'EH'">Erste Hilfe</label>
            <label class="radio-inline"><input type="radio" [(ngModel)]="actProtokol.kategorie" FormControlName= "kat" name="kategorie"  [value]="'Exkursion'"
            [checked]="actProtokol.kategorie === 'Exkursion'">Exkursion</label>
         </div>
      </div>
   </div>
</div>
<button type="submit" class="btn btn-success" [disabled]="!terminForm.form.valid" (click)="save()">einfügen</button>
</form>