<form (ngSubmit)="onSubmit()" #terminForm="ngForm">
    <div class="form-group">
        <label for="title">Titel</label>
        <input type="text" class="form-control" id="title"
               required
               [(ngModel)]="actTermin.title" name="title"
               #title="ngModel">
               <div [hidden]="title.valid || title.pristine"
               class="alert alert-danger">
               Titel muss eingegeben werden!
    </div>
    <br>
    <label for="beschreibung">Beschreibung</label>
    <input type="text" class="form-control" id="beschreibung"
           required
           [(ngModel)]="actTermin.beschreibung" name="beschreibung"
           #beschreibung="ngModel">
           <div [hidden]="beschreibung.valid || beschreibung.pristine"
           class="alert alert-danger">
           Beschreibung muss eingegeben werden!
</div>
<br>
<label for="ort">Ort</label>
<input type="text" class="form-control" id="ort"
       required
       [(ngModel)]="actTermin.ort" name="ort"
       #ort="ngModel">
       <div [hidden]="ort.valid || ort.pristine"
       class="alert alert-danger">
       Ort muss eingegeben werden!
</div>
<br>
<label for="s_date">Startdatum</label>
<owl-date-time [locale]="de" dataType="string" hideClearButton=true max={{actTermin.e_date}} dateFormat="YYYY-MM-DD HH:mm:ss" autoclose="true" class="form-control" id="s_date"
    required [(ngModel)]="actTermin.s_date" name="s_date"
    #sdate="ngModel"></owl-date-time>
<div [hidden]="sdate.valid || sdate.pristine"
    class="alert alert-danger">
    Startdatum muss eingegeben werden!
</div>
<br>
<label for="e_date">Enddatum</label>
<owl-date-time [locale]="de" dataType="string" hideClearButton=true min={{actTermin.s_date}} dateFormat="YYYY-MM-DD HH:mm:ss" autoclose="true" class="form-control" id="e_date"
    required [(ngModel)]="actTermin.e_date" name="e_date"
    #edate="ngModel"></owl-date-time>
<div [hidden]="edate.valid || edate.pristine"
    class="alert alert-danger">
    Enddatum muss eingegeben werden!
</div>    
</div>
<button type="submit" class="btn btn-success" [disabled]="!terminForm.form.valid" (click)="save()">einfügen</button>
</form>
<div id="success_message" [hidden]="!success">Termin eingefügt</div>