<header>

</header>
<body>   
  <div class="main">
    Titel<input type="text" [(ngModel)]="actTermin.title">
    <br>
    Startdatum<input type="text" [(ngModel)]="actTermin.s_date">
    <br>
    Enddatum<input type="text" [(ngModel)]="actTermin.e_date">
    <br>
    <!--
    Startuhrzeit<input type="time">
    <br>
    Enduhrzeit<input type="time">
    <br>
    [{"id":22,"s_date":"2017-11-04 15:30:00","e_date":"2017-11-04 17:30:00","title":"Gruppenstunde","beschreibung":"Gruppenstunde mit Schwerpunkt Erste-Hilfe","ort":"Dienststelle Sattledt"
    
    -->
    Ort<input type="text" [(ngModel)]="actTermin.ort"> 
    <br>
    Beschreibung<input type="text" [(ngModel)]="actTermin.beschreibung"> 
    <br>
    <input type="button" class="btn" (click)="save()" value="einfügen">
  </div>
</body>