#jrkselect {
   
   
}
#selectJRK {

}
#ADDButton{
    float: right;
}



#PersonName{

}
#detail {
  
}
#Buttons{
   

    
}

#PersonNameEdit{

}

#editSection{ 
   
   
    margin-top: 150px;
    -webkit-box-shadow:0px 0px 50px 30px grey ;
-moz-box-shadow:0px 0px 50px 30px grey ;
box-shadow:0px 0px 50px 30px grey;
display:flex;

    justify-content: center;
}

.wrapper {
    background-color: aliceblue;
    margin-right: 1em;
    margin-left: 1em;
   
}