<div class="wrapper">
<div id="selectJRK">
<!-- Dropdown -->
<select class="form-control" #selectElem (change)="set(selectElem.value)" name="jrkselect" id="jrkselect">
  <option *ngFor="let JRKEntitaet of JRKEntitaeten, let i=index" [selected]="i==0" [value]="JRKEntitaet.id">{{JRKEntitaet.name}}</option>
</select>
</div>

<div id="editSection">
<div *ngFor="let person of persons, let i=index">
   
  <div id="PersonName" *ngIf="!person.isEditable">
   {{person.vorname}}  {{person.nachname}}
  </div>

  <div *ngIf="person.isEditable" id="PersonNameEdit">
      <input type="text" [(ngModel)]="person.vorname" style="width: 200px">
      <input type="text" [(ngModel)]="person.nachname" style="width: 200px">
    </div>
   
    <div id="Buttons">
      <button *ngIf="person.isEditable" (click)="done(i)"><i class="material-icons">done</i></button>
      <button *ngIf="!person.isEditable" (click)="edit(i)"><i class="material-icons">edit</i></button>
      <button (click)="deletePerson(i)"><i class="material-icons">delete</i></button>
    </div>
    <hr>
</div>
</div>
</div>